@use "/src/styles/mixins/responsive" as *;

.projects {
  --project-card-min-w: 100%;

  min-height: var(--app-section-height);
  border: var(--app-border);

  @include responsive("small") {
    --project-card-min-w: 380px;
  }

  &__header {
    border-left: none;
    border-right: none;
  }

  &__grid {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--project-card-min-w), 1fr)
    );
    gap: var(--space-10);
    padding: var(--app-h-padding-small);

    @include responsive("medium") {
      padding: var(--app-h-padding-medium);
    }

    @include responsive("large") {
      width: var(--app-body-width);
      padding: var(--app-h-padding);
    }
  }

  .project-card {
    width: var(--project-card-min-w);
    border: var(--app-border);

    &__image {
      width: 100%;
      height: calc(var(--project-card-min-w) / (3 / 2));
      object-fit: cover;
      object-position: top;
    }

    &__body {
      height: 100%;
      width: 100%;
      padding: var(--space-2) var(--space-6);
      gap: var(--space-4);
    }

    &__technologies {
      gap: var(--space-2);
      margin-bottom: var(--space-4);
      flex-wrap: wrap;
    }

    &__features {
      gap: var(--space-4);
      list-style-image: url("../../assets/icons/list-marker.svg");

      li {
        padding-left: var(--space-4);
      }
    }

    &__feature {
      z-index: 1;

      &_highlight {
        background-color: var(--color-accent);
      }
    }

    &__column {
      height: 100%;
      gap: var(--space-4);

      a {
        align-self: flex-end;
      }
    }
  }
}
