@use "/src/styles/mixins/responsive" as *;

$content-border: 1px;
$content-left-shift: 100px;
$content-top-shift: 200px;
$image-height: 540px;

.hero {
  height: var(--app-section-height);
  padding: var(--app-h-padding-small);

  @include responsive("medium") {
    padding: var(--app-h-padding-medium);
  }

  @include responsive("large") {
    padding: var(--app-h-padding);
  }

  // main content wrapper
  &__content {
    --shift-left: 10px;
    --shift-top: 10px;

    position: relative;
    width: 100%;

    @include responsive("large") {
      --shift-left: 20px;

      width: var(--app-body-width);
    }

    // content background shadow
    &::after {
      box-shadow: var(--shift-left) var(--shift-top) 0 0
        var(--color-secondary-dark);
    }

    &::before {
      box-shadow: calc(var(--shift-left) + ($content-border * 2))
          calc(var(--shift-top) - ($content-border * 2)) var(--color-white),
        calc(var(--shift-left) - ($content-border * 2))
          calc(var(--shift-top) + ($content-border * 2)) var(--color-white),
        calc(var(--shift-left) + ($content-border * 2))
          calc(var(--shift-top) + ($content-border * 2)) var(--color-white);
    }

    &::after,
    &::before {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: var(--shift-top) 0 0 0;

      @include responsive("large") {
        left: $content-left-shift;
      }
    }

    // main content wrapper
    &-inner {
      height: 100%;
      position: relative;
      flex-direction: column-reverse;
      align-items: center;
      gap: var(--space-4);
      padding: var(--app-h-padding-small);
      background-color: var(--color-white);
      z-index: 1;

      @include responsive("medium") {
        flex-direction: row;
        align-items: flex-start;
        padding: var(--space-10) var(--app-h-padding-medium);
      }

      @include responsive("large") {
        padding: var(--space-14) var(--app-h-padding);
      }

      &::before {
        position: absolute;
        content: "";
        bottom: $content-border;
        left: $content-border;
        width: calc(100% - ($content-border * 2));
        height: calc(100% - ($content-border * 2));
        background-color: var(--color-primary);
        z-index: -1;
      }

      &,
      &::before {
        clip-path: none;

        @include responsive("large") {
          clip-path: shape(
            from 0% 0%,
            line to 100% 0%,
            line to 100% 100%,
            line to calc(0% + $content-left-shift) 100%,
            line to calc(0% + $content-left-shift)
              calc(100% - $content-top-shift),
            line to 0% 60%,
            close
          );
        }
      }
    }

    &-column {
      height: 100%;
      flex: 1;
      gap: var(--space-4);

      @include responsive("large") {
        gap: var(--space-8);
      }
    }
  }

  &__titles {
    gap: var(--space-2);
    text-transform: uppercase;
    align-items: center;

    @include responsive("medium") {
      align-items: flex-start;
    }

    .hero__title {
      &_accent {
        text-shadow: var(--app-accent-text-shadow);
        white-space: nowrap;

        @include responsive("large") {
          width: auto;
        }
      }
    }
  }

  &__details {
    margin-left: none;
    gap: var(--space-8);

    @include responsive("large") {
      margin-left: var(--space-24);
    }
  }

  &__description {
    position: relative;
    padding: var(--space-4);
    background-color: var(--color-white);
    z-index: 1;

    &::before {
      position: absolute;
      content: "";
      bottom: $content-border;
      left: $content-border;
      width: calc(100% - ($content-border * 2));
      height: calc(100% - ($content-border * 2));
      background-color: var(--color-secondary);
      z-index: -1;
    }

    &,
    &::before {
      clip-path: shape(
        from 0% 0%,
        line to 100% 0%,
        line to 100% calc(100% - 20px),
        line to calc(100% - 20px) 100%,
        line to 0% 100%,
        close
      );
    }
  }

  &__buttons {
    gap: var(--space-3);
    align-self: center;

    @include responsive("small") {
      align-self: flex-end;
    }
  }

  &__image {
    max-height: $image-height;
    flex: 1;
    object-fit: cover;
    object-position: top;
    border: 1px solid var(--color-border);
    aspect-ratio: 1;

    @include responsive("medium") {
      aspect-ratio: auto;
    }
  }
}
