@use "/src/styles/mixins/responsive" as *;

$section-header-height: 50px;
$contribution-day-size: 10px;
$contribution-day-size-s: 5px;

.about {
  min-height: var(--app-section-height);
  padding: var(--app-h-padding-small);

  @include responsive("medium") {
    padding: var(--app-h-padding-medium);
  }

  @include responsive("large") {
    padding: var(--app-h-padding);
  }

  &__header {
    border-bottom: none;
  }

  &__body {
    display: grid;
    align-items: normal;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "first" "second" "third";

    @include responsive("medium") {
      grid-template-areas:
        "first first second"
        "third third third";
      grid-template-columns: 1fr 0.3fr 1fr;
    }
  }

  &__section {
    align-items: normal;

    &_first {
      grid-area: first;
      border: var(--app-border);
    }

    &_second {
      grid-area: second;
    }

    &_third {
      grid-area: third;
      flex-direction: column;

      @include responsive("large") {
        flex-direction: row;
      }
    }
  }

  &__content {
    width: 100%;

    @include responsive("large") {
      width: var(--app-body-width);
    }
  }

  //  sections reusable styles
  &__section {
    &-header {
      height: $section-header-height;
      padding-left: var(--space-6);
      border: 1px solid var(--color-border);
      border-bottom: none;
    }

    &-body {
      height: 100%;
      padding: var(--space-4);
      border: var(--app-border);
    }
  }

  &__list {
    &-item {
      border-bottom: var(--app-border);
      padding: var(--space-4);
    }

    &-text {
      text-transform: uppercase;
    }
  }

  &__picture-skills-row {
    flex-direction: column;

    @include responsive("large") {
      flex-direction: row;
    }
  }

  &__details {
    flex: 1;

    &-text {
      line-height: 1.5;
    }
  }

  &__contributions {
    flex: 1;

    &-day {
      width: $contribution-day-size-s;
      height: $contribution-day-size-s;
      border: 0.1px solid var(--color-border);
      border-radius: 2px;

      &[data-level="1"] {
        background-color: rgba(255, 255, 255, 0.5);
      }

      &[data-level="2"] {
        background-color: rgba(255, 255, 255, 0.75);
      }

      &[data-level="3"] {
        background-color: rgba(255, 255, 255, 0.9);
      }

      @include responsive("small") {
        width: $contribution-day-size;
        height: $contribution-day-size;
      }
    }
  }

  &__empty {
    flex: 1;
    border-right: var(--app-border);
    display: none;

    @include responsive("large") {
      display: block;
    }
  }
}
