@use "/src/styles/mixins/responsive" as *;

.navbar {
  height: var(--app-navbar-height);
  background-color: var(--color-secondary-dark);

  &__content {
    height: 100%;
    max-width: var(--app-content-width);
    padding: 0 var(--space-4);
    margin: 0 auto;
  }

  &-menu {
    height: 100%;
    gap: var(--space-4);

    &__item {
      list-style: none;
      transition: 0.2s background-color ease-in-out;

      &:hover {
        background-color: var(--color-accent-light);
      }

      &:active {
        background-color: var(--color-accent);
      }

      &-content {
        display: flex;
        align-items: center;
        padding: var(--space-0-5) var(--space-1);
        gap: var(--space-1);
      }
    }

    &_desktop {
      display: none;

      @include responsive("medium") {
        display: flex;
      }
    }

    &_mobile {
      display: flex;

      @include responsive("medium") {
        display: none;
      }
    }
  }
}

.menu-sidebar {
  padding: var(--space-10);
  color: var(--color-secondary-dark);
  height: 100%;
  gap: var(--space-5);

  &__header {
    border-bottom: 1px solid var(--color-border-dark);
  }

  &__list {
    gap: var(--space-3);
  }
}
