@use "/src/styles/mixins/responsive" as *;

.navbar {
  height: var(--app-navbar-height);
  background-color: var(--color-secondary-dark);

  &__content {
    height: 100%;
    max-width: var(--app-content-width);
    padding: 0 var(--space-4);
    margin: 0 auto;
  }

  &-menu {
    height: 100%;
    gap: var(--space-4);

    &__item {
      display: flex;
      align-items: center;
      gap: var(--space-1);
      position: relative;

      &-link {
        position: absolute;
        inset: 0;
      }
    }

    &_desktop {
      display: none;

      @include responsive("medium") {
        display: flex;
      }
    }

    &_mobile {
      display: flex;

      @include responsive("medium") {
        display: none;
      }
    }
  }
}

.menu-sidebar {
  color: var(--color-secondary-dark);
  height: 100%;

  &__header {
    border-bottom: 1px solid var(--color-border-dark);
    padding: var(--space-10);
  }

  &__list {
    gap: var(--space-3);
  }
}
